<div class="quiz-container center" *ngIf="menuShow">
  <div class="quiz-header">
    <h3 id="question" #questionF>
      <h2>Question:{{4-(tempArr.length - 1)}}/{{4}}</h2>
      {{question}}
    </h3>
    <ul type="none" id="options">
      <li #optA (click)="select(optA.id)" id="a">
        {{a}}
      </li>
      <li #optB (click)="select(optB.id)" id="b">
        {{b}}
      </li>
      <li #optC (click)="select(optC.id)" id="c">
        {{c}}
      </li>
      <li #optD (click)="select(optD.id)" id="d">
        {{d}}
      </li>
  </ul>
</div>
</div>

<div class="result center" *ngIf="resultShow">
  <div class="showRE center">You scored {{count}} out of {{4}}</div>
</div>