.quiz-container {
  width: 627px;
}

.quiz-header {
  background-color: #212149;
  color: white;
  display: flex;
  border-radius: 20px;

  #question {
    display: inline-block;
    // float: left;
    padding: 20px;
    margin-top: -23px;
    h2 {
      margin-bottom: 10px;
    }
  }
 
  #options {
    margin-bottom: 18px;
    margin-top: 10px;
    margin-right: 14px;
    display: inline-block;
    width: 400px;

    li {
      border: 5px solid #276d98;
      padding: 10px;
      margin-top: 10px;
      border-radius: 15px;
    }
  }
}

.result {
  width: 627px;
  background-color: #212149;
  color: white;
  padding: 20px;
  text-align: center;
  height: 180px;
  font-size: 35px;
}

.center {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
